@import './../styles/components/responsive';

.section {
  color: #2bb18b;
  height: 100dvh;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  row-gap: 1rem;
  padding: 1rem 0;
  text-align: center;

  figure {
    position: relative;
    overflow: hidden;

    &:after {
      --extra-size: 100px;
      content: '';
      top: 0;
      transform: translate(100%, 100%) rotate(45deg);
      width: calc(100% + var(--extra-size));
      height: calc(100% + var(--extra-size));
      position: absolute;
      inset: 0;
      z-index: 1;
      animation: slide 2.5s infinite 0.5s;

      background: linear-gradient(
        to right,
        var(--color-light-animation-1) 0%,
        var(--color-light-animation-2) 50%,
        var(--color-light-animation-3) 99%,
        var(--color-light-animation-4) 100%
      );
    }

    /* animation */

    @keyframes slide {
      0% {
        transform: translate(-100%, -100%) rotate(45deg);
      }

      100% {
        transform: translate(100%, 100%) rotate(45deg);
      }
    }
  }

  b {
    font-size: 2rem;
  }

  h4 {
    font-weight: bold;
  }

  p {
    min-height: 100px;
    line-height: 1.2;
    text-wrap: balance;
  }

  p,
  b {
    text-wrap: balance;
    text-align: center;
    margin-top: 2rem;
  }

  button {
    --accent-border-width: 3px;
    text-align: center;
    padding: 0.8rem 0.2rem;
    background-color: #1d1a1a;
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    width: 100%;
    transition: all ease-in-out 0.25s;
    border-radius: 9px;
    height: 49px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:active {
      outline-color: var(--secondary-color);
    }
  }
}

.arrowBack {
  position: absolute;
  left: 2rem;
  top: 2rem;
  margin-right: auto;
  height: 40px;
  background-color: var(--white);
  border-radius: 999px;
  filter: drop-shadow(0px 0px 4.830447196960449px rgba(0, 0, 0, 0.1));
  span {
    width: 40px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
  }

  &:active {
    transform: scale(0.9);
  }
}

.pagination {
  display: flex;
  column-gap: 0.5rem;

  span {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background: #efeff4;
    transition: all ease-in-out 0.25s;
  }
}

.active {
  background-color: var(--primary-color) !important;
  width: 28px !important;
}

.version {
  display: block;
  margin-top: 1rem;
  color: var(--color-version);
  font-family: var(--ff-mono);
  opacity: 0.6;
}

.poweredby {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary-color);
  font-size: 0.8rem;
  opacity: 0.6;
}

.version,
.poweredby {
  user-select: none;
}
