.loading {
  background-color: var(--primary-color);
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
  row-gap: 0.5rem;
}