:root {
  font-family: var(--ff-vazir), Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-light-animation-1: rgba(0, 0, 0, 0);
  --color-light-animation-2: rgba(71, 65, 65, 0.2);
  --color-light-animation-3: rgba(0, 0, 0, 0.5);
  --color-light-animation-4: rgba(0, 0, 0, 0);
  --color-bg-button: #fff;
  --color-text-button: #fff;
  --color-version: #fff;
  --color-header-bg: #161616;
  --color-header-text: #fff;
  --color-tab-active: #102e10;
  --color-card-bg: #323232;
  --color-card-text: #fff;
}

html,
body {
  height: 100%;
}

#root {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --color-light-animation-1: rgba(255, 255, 255, 0);
    --color-light-animation-2: rgba(255, 255, 255, 0.8);
    --color-light-animation-3: rgba(128, 186, 232, 0);
    --color-light-animation-4: rgba(125, 185, 232, 0);

    --primary-color: hsl(163, 61%, 43%);
    --secondary-color: #4ce5b1;
    --tertiary-color: #e9e600;

    --color-bg-button: #fff;
    --color-text-button: #000;
    --color-version: #000;
    --color-header-bg: #000;
    --color-header-text: #000;
    --color-tab-active: #000;
    --color-card-bg: #fff;
    --color-card-text: #212121;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
